:root {
  --white: #fff;
  --light: #f5f4f0;
  --semiwhite: #d7ccc0;
  --primary: #fe8a02;
  --dark: #2a2626;
  --primary-dark: #42413c;
  --brown: #b09a81;
  --semidark: #908d8b;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf") format("truetype");
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: normal;
  color: var(--dark);
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/**** header ****/
.background {
  position: relative;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.container {
  width: 1100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.position-relative {
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Neucha, cursive;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  z-index: 2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 52px;
}

h5 {
  font-size: 64px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -278px;
  height: 525px;
}

.more {
  margin-top: 24px;
  display: inline-block;
  width: 148px;
  height: 49px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  box-sizing: border-box;
}

.more:hover {
  background-color: #ea7600;
}

/**** video ****/
.video-section {
  height: 807px;
}

.text-center {
  text-align: center;
}

.video-content {
  position: relative;
  margin-top: -198px;
  bottom: -198px;
}

.video {
  /* margin: 0 auto;
  display: block; */
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

iframe {
  border-style: none;
}

/**** nav ****/

ul {
  list-style: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;

  margin: 0;
  padding: 0;
}

.nav-item {
  box-sizing: border-box;
  width: 350px;
  background-color: var(--light);
  padding: 24px;
}

.nav-text {
  margin: 0;
  padding: 0;
}

.nav-item:first-child {
  background-color: var(--primary-dark);
  padding: 0;
  margin: 0;
}

.nav-item:hover {
  color: var(--white);
  background-color: var(--main);
}

/**** biases ****/
.bias-picture-container {
  position: relative;
  z-index: 7;
}

.bias-picture {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.text-divider {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.title-how {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.decorative-text {
  font-family: Neucha, cursive;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 120% */
}

/**** footer ****/
.subscribe-text {
  padding: 55px;
}

.email-text {
  font-size: 18px;
  margin-top: 38px;
  margin-bottom: 9px;
}

.input-email {
  height: 50px;
  width: 423px;
  border-radius: 0%;
  border: 1px solid #e3e3e3;
  padding: 15px;
  box-sizing: border-box;
}

::placeholder {
  color: #757575;
  font-size: 13.1px;
}

button {
  position: relative;
  background-color: #fe8a02;
  width: 70px;
  height: 50px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #ea7600;
}

button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: 0;
  background-image: url("../assets/img/send.svg");
}

.rules {
  font-size: 12px;
}

.rules a {
  text-decoration: underline;
}

/**** footer ****/
.footer-text a {
  color: #1085c5;
  text-decoration: underline;
}

/* colours */
.brown {
  background-color: var(--brown);
}

.light {
  background-color: var(--light);
}

.semidark {
  color: var(--semidark);
}

.primary-dark {
  background-color: var(--primary-dark);
}

.text-orange {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.text-semiwhite {
  color: var(--semiwhite);
}

.text-brown {
  color: var(--brown);
}

/* flexxxxx */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.gap-30 {
  column-gap: 30px;
}

.column {
  flex-direction: column;
}

.sp-btwn {
  justify-content: space-between;
}

.w-50 {
  width: calc(100% / 2);
}

/* gaps etc */

.mt-60 {
  margin-top: 60px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-0 {
  margin-top: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.p-top-100 {
  padding-top: 100px;
}

.line-height-1 {
  line-height: 1;
}
